.header__lang-item {
  width: 30px;
  height: 28px;
}

.header__lang-item:last-of-type {
  margin-left: 18px;
}

.header__lang-item:last-of-type .header__lang-link {
  text-decoration: none;
}


@media (min-width: 320px) and (max-width: 425px) {
  .header__lang-item {
    width: 22px;
    height: 20px;
  }
}