.header {
  width: calc(100% - 96px);
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}


@media (min-width: 767px) and (max-width: 1023px) {
  .header {
    width: calc(100% - 48px);
  }
  
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    padding-top: 16px;
    width: calc(100% - 32px);
  }
}